extends layout

block content
  #app.off-canvas-wrap
    main
      section(v-component='v-tool-bar' inline-template)
        .medium-3.columns
          ul.button-group
            li: a.button(href='#' title='添加' v-on='click: openAddMenu' onclick='return false;'): span.fa.fa-plus
            li: a.button(href='#' title='导入' v-on='click: openImportMenu' onclick='return false;'): span.fa.fa-file-o
        .columns.medium-5.medium-offset-4.row.collapse.search-wrapper
          .columns.medium-9
            input(type='text' placeholder='搜索' v-model='q' v-on='keypress: search | key enter')
          .columns.medium-3
            ul.button-group.row.collapse
              li.columns.medium-8: a(href='#' onclick='return false;' v-on='click: search').button.postfix: span.fa.fa-search
              li.columns.medium-4
                a(href='#' onclick='return false;' data-dropdown='flag-list' data-options='align: left').button.postfix
                  span.fa.fa-caret-down
                ul#flag-list.f-dropdown(data-dropdown-content)
                  li: label
                    input(type='checkbox' v-model='f[0]')
                    | 未看
                  li: label
                    input(type='checkbox' v-model='f[1]')
                    | 不好看
                  li: label
                    input(type='checkbox' v-model='f[2]')
                    | 一般
                  li: label
                    input(type='checkbox' v-model='f[3]')
                    | 喜欢
      section.body.clearfix(v-component='v-list' inline-template)
        .columns.medium-12: table
          thead: tr
            th #
            th.auto: a(href='#' onclick='return false;' v-on='click: sort') 名称
            th 大小
            th 类型
            th 操作
          tbody
            tr(v-repeat='movies')
              td
                span(v-text='$index + 1')
                | &nbsp;&nbsp;
                span.fa(v-class='fa-times: flag === 0x02, fa-heart-o: flag === 0x04, fa-heart: flag == 0x08')
              td: a(v-text='fileName' v-on='click: openDetail($index)')
              td(v-text='size')
              td(v-text='type')
              td
                a.button.compact(v-on='click: openDelete($index)'): span.fa.fa-times
                |  
                a.button.compact(v-on='click: copy($index)'): span.fa.fa-copy
      section.columns.medium-12(v-component='v-pagination' inline-template)
        ul.pagination
          li.arrow(v-class='unavailable: p <= 1'): a(v-on='click: goto(p - 1)') &laquo;
          li(v-repeat='ctrls' v-class='current: p == $value, unavailable: !$value')
            a(v-on='click: goto($value)' v-html='$value || "&hellip;"')
          li.arrow(v-class='unavailable: p >= n'): a(v-on='click: goto(p + 1)') &raquo;
    aside#side-bar(v-component='v-side-bar' inline-template)
      a.close(v-on='click: hideSideBar' href='#' onclick='return false;'): span.fa.fa-times-circle-o
      section#menu-add(v-component='v-menu-add' inline-template)
        label 地址
        textarea(v-model='url')
        ul.button-group.right
          li: button.button.tiny(v-on='click: click' v-class='pending: isPending') 添加
      section#status-add(v-component='v-status-add' inline-template)
        div(v-class='hide: isSuccess')
          p.text-center
            span(v-text='message')
          p.text-center
            a.button.link(v-on='click: openAddMenu') 返回
            a.button.link(v-on='click: openDetail' v-class='force-hide: !movie') 查看
        div(v-class='hide: !isSuccess')
          p.text-center 添加成功
          p.text-center
            a(v-on='click: openAddMenu') 继续添加
            |  
            a(v-on='click: openDetail') 查看
            | 
            a(v-on='click: openUpdate') 修改
      section#menu-import(v-component='v-menu-import' inline-template)
        form.clearfix
          input(type='file' name='importFile')
          ul.button-group.right
            li: button.button.tiny 导入
            li: a.button.tiny.link 取消
      section#status-import.hide
        p 成功导入 <a href='#' onclick='return false;'><strong>10</strong></a> 个，失败 <a href='#' onclick='return false;'><strong>5</strong></a> 个
      section#menu-detail(v-component='v-menu-detail' inline-template)
          h4.columns.medium-12 标题
          p.columns.medium-12(v-text='movie.title ? movie.title : movie.fileName')
          .row
            .columns.medium-3: h4 厂牌
            .columns.medium-9: a.value(v-text='movie.brand ? movie.brand : "(unknown)"' v-on='click: search(movie.brand)')
          .row
            .columns.medium-3: h4 日期
            .columns.medium-9: span.value(v-text='movie.date ? movie.date : "(unknown)"')
          .row
            h4.columns.medium-3 演员
            ul.inline-list.columns.medium-9
              li(v-repeat='movie.actors'): a(href='#' onclick='return false;' v-on='click: search(name)')
                span.label(v-text='name')
          .row
            .columns.medium-3: h4 文件大小
            .columns.medium-3: span.value(v-text='movie.size')
            .columns.medium-3: h4 文件类型
            .columns.medium-3: span.value(v-text='movie.type')
          .row
            .columns.medium-3: label
              input(type='radio' name='flag' v-model='flag' value='0x01' v-on='change: mark')
              |  未看
            .columns.medium-3: label
              input(type='radio' name='flag' v-model='flag' value='0x02' v-on='change: mark')
              |  不好看
            .columns.medium-3: label
              input(type='radio' name='flag' v-model='flag' value='0x04' v-on='change: mark')
              |  一般
            .columns.medium-3: label
              input(type='radio' name='flag' v-model='flag' value='0x08' v-on='change: mark')
              |  喜欢
          .row
            .columns.medium-12: ul.button-group.right
              li: button.button.tiny(v-on='click: update') 修改
              li: button.button.tiny.link(v-on='click: delete') 删除
      section#menu-update(v-component='v-menu-update' inline-template)
        h4.columns.medium-12 原标题
        p.columns.medium-12(v-text='movie.originalFileName')
        .row
          .columns.medium-3: h4 厂牌
          .columns.medium-9: input(type='text' v-model='movieUpdated.brand')
        .row
          .columns.medium-3: h4 系列名称
          .columns.medium-9: input(type='text' v-model='movieUpdated.seriesName')
        .row
          .columns.medium-3: h4 是否季播
          .columns.medium-9
            label.columns.medium-4
              input(type='radio' name='isSeason' v-model='isSeason' value='true')
              |  是
            label.columns.medium-4.end
              input(type='radio' name='isSeason' v-model='isSeason' value='false')
              |  否
        .row(v-class='hide: isSeason === "false"')
          .columns.medium-3: h4 季序号
          .columns.medium-9: input(type='text' v-model='movieUpdated.sno')
        .row(v-class='hide: isSeason === "false"')
          .columns.medium-3: h4 季名
          .columns.medium-9: input(type='text' v-model='movieUpdated.seasonName')
        .row(v-class='hide: isSeason === "true"')
          .columns.medium-3: h4 剧名
          .columns.medium-9: input(type='text' v-model='movieUpdated.showName')
        .row
          .columns.medium-3: h4 集序号
          .columns.medium-9: input(type='text' v-model='movieUpdated.eno')
        .row
          .columns.medium-3: h4 集名称
          .columns.medium-9: input(type='text' v-model='movieUpdated.episodeName')
        .row
          .columns.medium-3: h4 片段序号
          .columns.medium-9: input(type='text' v-model='movieUpdated.cno')
        .row
          .columns.medium-3: h4 日期
          .columns.medium-9: input(type='text' v-model='movieUpdated.date')
        .row
          .columns.medium-3: h4 演员
          .columns.medium-9: input(type='text' v-model='actors')
        .row
            .columns.medium-12: ul.button-group.right
              li: button.button.tiny(v-on='click: submit') 提交
              li: button.button.tiny.link(v-on='click: cancel') 取消
      section#status-update(v-component='v-status-update' inline-template)
        p.text-center(v-text='message')
        ul.button-group.right
          li: button.button.tiny(v-on='click: openDetail') 查看
          li: a.button.tiny.link(v-on='click: close') 关闭
      section#menu-delete(v-component='v-menu-delete' inline-template)
        p
          | 是否删除 "
          span(v-text='movie.fileName')
          | "?
        ul.button-group.right
          li: button.button.tiny(v-on='click: delete') 确定
          li: a.button.tiny.link(v-on='click: cancel') 取消
      section#status-delete(v-component='v-status-delete' inline-template)
        p(v-text='message')
        ul.button-group.right
          li: button.button.tiny(v-on='click: close') 关闭
    // a.exit-off-canvas(v-on='click: hide')

  script(src='/foundation/js/foundation.js')
  script(src='/vue/dist/vue.js')
  script(src='/javascripts/tomas.js')
  
