doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/foundation/css/foundation.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/dist/jquery.min.js')

  body
    block content